[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
pytest = "*"
python-dotenv = "*"
pytest-html = "*"
pytest-check = "*"
paramiko = "*"
requests = "*"
sshtunnel = "*"
jsonschema = "*"
pymysql = "*"
pytz = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client="*"
playwright="*"
pytest-playwright="*"
[requires]
python_version = "3.11"
